<%= form_with model: @booking do |form| %>
  <% i = 1 %>
  
    <%= form.fields_for :passengers do |passenger_form| %>
      <div>
      <%= "Passenger #{i}:" %>
      <%= passenger_form.text_field :name, placeholder: "Name:", required: true %>
      <%= passenger_form.email_field :email, placeholder: "name@example.com", required: true %>
      <% i += 1 %>
      </div>
    <% end %>
 
  <%= hidden_field_tag :tickets, value: params[:tickets] %>
  <%= hidden_field_tag :flight_id, value: params[:flight_id] %>
  <%= submit_tag("Book")%>

<% end %>