<h1>Your trip:</h1>

<h3>Departing:</h3>
<%= @selected_flight.departure_airport %>

<h3>Arriving:</h3>
<%= @selected_flight.arrival_airport %>

<h3>Scheduled Departure:</h3>
<%= @selected_flight.departure_time %>

<h3>Scheduled Arrival:</h3>
<%= (@selected_flight.departure_time + @selected_flight.duration).strftime%>

<%= render "new_booking_form" %>

