<h1>Your trip:</h1>
<%"Flight #{@selected_flight.id}:"%>

<h3>Departing:</h3>
<%= @selected_flight.departure_airport.code %>

<h3>Arriving:</h3>
<%= @selected_flight.arrival_airport.code %>

<h3>Scheduled Departure:</h3>
<%= @selected_flight.departure_time %>

<h3>Flight Duration:</h3>
<%= "#{(@selected_flight.duration / 60)} hours" %>

<h3>Passenger Details:</h3>

<%= render "new_booking_form" %>

